*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

#banner-sec{
	height:100vh;
	background-image:url(../images/bgpic1.jpg);
	background-size:cover;
	background-position:top;
	background-attachment:fixed;
	
}
.container{
	width:100%;
	margin:auto;
	height:100vh;
	background-color:rgba(0,0,0,0.5);
}
.title{
	text-align:center;
	padding-top:150px; 
	font-weight:500;
	color:#FFFFFF;
	
}
h1{
	font-size:4rem;
}
p{
	font-size:1.8rem;
	padding-bottom:50px;
}
span{
	color:#FFBF00;
	font-size:80px;
}
.row{
	width:100%;
	display:flex;
	justify-content:space-between;
	padding-left:80px;
}
.col{
	width:20%;
	padding:20px 40px;
}
.card{
	
	border:1px solid #FFFFFF;
	height:10rem;
	padding-left:20px;
	
}
.icon{
	color:#FFBF00;
	font-size:30px;
	padding:30px 50px 10px;
}
h3{
	color:#FFFFFF;
	padding:2px 30px;
	
	font-size:1.5rem;
}
.card:hover{
	border-color:#FFBF00;
}

